<header>
    <img
      src="assets/img/gustavo.png"
      alt="Gustavo Santos - Foto de Perfil"
      width="147px"
      height="146px"
      loading="eager"
    />
    <h1>Gustavo Santos</h1>
  </header>
  
  <aside>
    <div class="container">
      <p>Java Developer | Full-Stack - Angular</p>
      <p>Almada, Portugal</p>
      <p>
        I finished my course as Specialist Programming Technician, focused on programming
        and in the IT area I've been working on web projects using Java and Angular.
      </p>
      <p>
        I've been working with Spring Ecosystem technologies,
        containerization through Docker, Kubernet, with devops through Jenckis
        and also CI/CD through Git Lab's pipiline.
      </p>  
      <nav>
        <ul>
          <li>
            <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
              Download Cv
            </a>
          </li>
  
          <li>
            <a
              href="https://www.linkedin.com/in/gustavo-santos-79132167/"
              target="_blank"
              class="btn btn-secondary"
            >
              LinkedIn
            </a>
          </li>
          <li>
            <a
              href="https://github.com/ghrs123"
              target="_blank"
              class="btn btn-ternary"
            >
              GitHub repository
            </a>
          </li>
        </ul>
      </nav>
  
      <section>
        <figure>
          <img
            src="assets/icons/whatsapp.svg"
            alt="Ícone para contato do WhatsApp"
            width="22px"
            height="24px"
          />
  
          <figcaption>
            <a
              href="https://api.whatsapp.com/send?phone=351937524422&text=Hello%20Gustavo,%20how%20are%20you?%20I%20would like%20to%20speak%20with%20you!"
              target="_blank"
            >
              <strong>Send a message to:</strong>
              <p>WhatsApp of Gustavo Santos</p>
            </a>
          </figcaption>
        </figure>
  
        <figure>
          <img
            src="assets/icons/mail.svg"
            alt="Ícone para contato do e-mail"
            width="22px"
            height="24px"
          />
  
          <figcaption>
            <a href="mailto:g_henrique19@hotmail.com" target="_blank">
              <strong>Send a e-mail to:</strong>
              <p>g_henrique19&#64;hotmail.com</p>
            </a>
          </figcaption>
        </figure>
      </section>
    </div>
  </aside>